@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Octávio Roquette</h1>
    <p>octavio.roquette@al.infnet.edu.br</p>
</div>

<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">SaaS</h1>
    <p>SaaS é uma maneira de fornecer serviços por assinatura via internet, provendo manutenções e atualizações ao cliente.</p>
    <p>Ex: Netflix, Azure etc...</p>
</div>

<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">PaaS</h1>
    <p>É uma maneira de fornecer plataforma como serviço, facilitação no desenvolvimento sem a complicação de gerenciamento de infraestrutura.</p>
    <p>Ex: Ambiente de desenvolvimento</p>
</div>

<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">laaS</h1>
    <p>É uma maneira de fornecer infraestrutura como serviço via internet.</p>
    <p>Ex: Servidor, Armazenamento</p>
</div>

<br />
<br />
<br />

<div class="text-lg-left">
    <h1 class="display-5">Fontes:</h1>
    <p>https://www.salesforce.com/br/saas/</p>
    <p>https://azure.microsoft.com/pt-br/overview/what-is-paas/</p>
    <p>https://treinamento24.com/library/lecture/read/484293-o-que-e-laas</p>
</div>